<div class="host-profile-bar">
    <div class="host-profile-bar-top">
        <div class="icon-container" ng-click="host.closeProfile()">
            <i class="icon icon-glyph-2B4"></i>
        </div>
        <div class="host-profile-close">
            <div class="icon-container" ng-click="host.closeProfile()">
                <i class="icon icon-arrowHTMLMirroredLegacy"></i>
            </div>
        </div>
    </div>
    <div class="host-profile-bar-bottom">
        <div class="host-profile-bar-info info-first">
            <div class="host-profile-bar-info-pic">
                <div class="host-profile-bar-info-pic-circle">
                    <i class="icon icon-contact"></i>
                </div>
            </div>
            <label class="host-profile-bar-info-name wf">XXXX XXX XXXXXXXXXX </label>
            <label class="host-profile-bar-info-title wf">XXX XXX XXXXX</label>
            <div class="host-profile-bar-info-item w50">
                <label class="host-profile-bar-info-item-title wf">Reports To</label>
                <label class="host-profile-bar-info-item-value wf">XXXXXXX</label>
            </div>
            <div class="host-profile-bar-info-item w50">
                <label class="host-profile-bar-info-item-title wf">Alias</label>
                <label class="host-profile-bar-info-item-value wf">XXXXXXX</label>
            </div>
        </div>
        <div class="host-profile-bar-info">
            <div class="host-profile-bar-info-item">
                <label class="host-profile-bar-info-item-title" style="margin:0;">Resume URL</label>
                <label class="host-profile-bar-info-item-value"><a href="http://bing.com" target="_blank">XXXX XXX XXXXXXXXXX</a></label>
            </div>
            <div class="host-profile-bar-info-item w50">
                <label class="host-profile-bar-info-item-title">Primary Tool</label>
                <label class="host-profile-bar-info-item-value">XXXXXXX</label>
            </div>
            <div class="host-profile-bar-info-item w50">
                <label class="host-profile-bar-info-item-title">Resource Type</label>
                <label class="host-profile-bar-info-item-value">XXXXXXX</label>
            </div>
            <div class="host-profile-bar-info-item">
                <label class="host-profile-bar-info-item-title">Standard Timezone</label>
                <label class="host-profile-bar-info-item-value">XXXXXXX XXXXX XXXXXXX</label>
            </div>
            <div class="host-profile-bar-info-item w50">
                <label class="host-profile-bar-info-item-title">Skills</label>
                <label class="host-profile-bar-info-item-value">XX</label>
            </div>
            <div class="host-profile-bar-info-item w50">
                <label class="host-profile-bar-info-item-title">Accreditions</label>
                <label class="host-profile-bar-info-item-value">XX</label>
            </div>
            <div class="host-profile-bar-info-item w50">
                <label class="host-profile-bar-info-item-title">Certifications</label>
                <label class="host-profile-bar-info-item-value">XX</label>
            </div>
            <div class="host-profile-bar-info-item">
                <label class="host-profile-bar-info-item-title">Weekly Shift Plan</label>
                <md-chips>
                    <md-chip>SUN</md-chip>
                    <md-chip>MON</md-chip>
                    <md-chip>TUE</md-chip>
                    <md-chip>WED</md-chip>
                    <md-chip>THU</md-chip>
                    <md-chip>FRI</md-chip>
                    <md-chip>SAT</md-chip>
                </md-chips>
            </div>
            <button class="host-profile-bar-info-item-btn">View Full Profile</button>
        </div>
    </div>
</div>